*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#050505;
    color:#ffffff;
    font-family:Arial,Helvetica,sans-serif;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

img{
    max-width:100%;
    display:block;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;

    position:fixed;
    width:100%;
    top:0;

    background:rgba(0,0,0,.75);
    backdrop-filter:blur(12px);

    z-index:1000;
}

.logo a{
    font-size:30px;
    font-weight:800;
    color:#9b5cff;
    letter-spacing:3px;
}

.nav-links{
    display:flex;
    gap:35px;
}

.nav-links a{
    transition:.3s;
}

.nav-links a:hover{
    color:#9b5cff;
}

.nav-buttons{
    display:flex;
    gap:15px;
}

.btn-primary{

    background:#9b5cff;
    color:white;

    padding:12px 24px;

    border-radius:12px;

    transition:.3s;
}

.btn-primary:hover{

    background:#7f34ff;

}

.btn-outline{

    border:2px solid #9b5cff;

    padding:12px 24px;

    border-radius:12px;

    transition:.3s;

}

.btn-outline:hover{

    background:#9b5cff;

}

#hero{

    min-height:100vh;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:150px 8% 80px;

    gap:60px;

}

.hero-content{

    flex:1;

}

.hero-content h1{

    font-size:70px;

    line-height:1.1;

    margin-bottom:25px;

}

.hero-content p{

    font-size:22px;

    color:#cfcfcf;

    margin-bottom:35px;

    max-width:650px;

}

.hero-buttons{

    display:flex;

    gap:20px;

}

.hero-image{

    flex:1;

    display:flex;

    justify-content:center;

}